In [2]:
# Ans 1: Here are five functions of the Pandas library with their execution:

# pd.read_csv() - reads a CSV file into a Pandas DataFrame.
# pd.DataFrame() - creates a new Pandas DataFrame.
# df.head() - returns the first n rows of a DataFrame.
# df.tail() - returns the last n rows of a DataFrame.
# f.describe() - returns statistical information about the DataFrame.

In [4]:
# Ans 2:
import pandas as pd
df = pd.DataFrame({'A', 'B', 'C'})
def reindex_df(df):
    df.index = pd.RangeIndex(start=1, stop=2*len(df)+1, step=2)
    return df

df = reindex_df(df)

In [6]:
# Ans 3
import pandas as pd

df = pd.DataFrame({'Values': [[10, 20, 30, 40, 50]]*5})
def sum_values(df):
    for i in range(len(df)):
        val_sum=sum(df.loc[i]['Values'][:3])
    print(f"Sum: {val_sum}")
                              
sum_values(df)

Sum: 60

In [ ]:
# Ans 4:
def add_word_count(df):
    df['Word_Count'] = df['Text'].apply(lambda x: len(str(x).split(" ")))
    return df

In [7]:
# Ans 5:
# The size() method of a Pandas DataFrame returns the total number of elements in the DataFrame (i.e., the number of rows times the number of columns). 
# The shape() method of a Pandas DataFrame returns a tuple representing the dimensions of the DataFrame (i.e., the number of rows and columns).

In [ ]:
# Ans 6:
# the read_excel() function reads excel files.
# eg:
df1=pd.read_excel("LUSID Excel - Setting up your market data.xlsx")

In [ ]:
# Ans 7:
def add_username(df):
    df['Username'] = df['Email'].apply(lambda x: x.split('@')[0])
    return df

In [18]:
# Ans 8:
df1=pd.DataFrame({'A':[3,8,6,2,9], 'B':[5,2,9,3,1], 'C':[1,7,4,5,2]})
def select_rows(df):
    return df[(df['A'] > 5) & (df['B'] < 10)]

df2=select_rows(df1)
df2

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

In [22]:
# Ans 9:
df3=pd.DataFrame({'Values':[10, 20, 30, 40, 50]})
def cal(df):
    avg=df['Values'].mean()
    median=df['Values'].median()
    standard_dev=df['Values'].std()
    return avg,median,standard_dev
cal(df3)

(30.0, 30.0, 15.811388300841896)

In [ ]:
# Ans 10:
df4=pd.DataFrame({'Sales', 'Date'})
def new_col(df):
    df['MovingAverage']=df['Sales'].rolling(window=7, min_periods=1).mean()
    return df
new_col(df4)

In [27]:
# Ans 11:
df5=pd.DataFrame({'Date':['2023-01-01','2023-01-02','2023-01-03','2023-01-04','2023-01-05']})
df5['Date']=pd.to_datetime(df5['Date'])

def add_weekday(df):
    df['Weekday']=df['Date'].dt.day_name()
    return df

df5=add_weekday(df5)
df5

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

In [28]:
# Ans 12
def time_date(df):
    start_date=pd.to_datetime('2023-01-01')
    end_date=pd.to_datetime('2023-01-31')
    return df[(df['Date']>=start_date) & (df['Date']<=end_date)]
df5=time_date(df5)

In [29]:
# Ans 13
# The first and foremost necessary library that needs to be imported to use the basic functions of pandas is ‘pandas’ itself. 
# We can import it like this:
import pandas as pd