In [1]:
# Ans 1
# A database is an organized collection of data that can be accessed, managed, and updated easily. 
# It is used to store and manage data that can be used by different application

# SQL databases are table-based databases that store data in a structured format. They use tables with rows and columns to store data
#  NoSQL databases are non-relational databases that store data in a manner other than the tabular relations.

In [ ]:
# Ans 2
# Data Definition Language (DDL) is a subset of SQL and a part of DBMS (Database Management System).
# DDL consists of commands like CREATE, ALTER, TRUNCATE and DROP.

# CREATE: This command is used to create a new table in the database. 
# For example, the following SQL statement creates a new table named “employees” with three columns: “id”, “name”, and “age”.
CREATE TABLE employees (
    id INT PRIMARY KEY,
    name VARCHAR(50),
    age INT
);

#DROP: This command is used to delete an existing table from the database. For example, the following SQL statement deletes the “employees” table:
DROP TABLE employees;

#ALTER: This command is used to modify an existing table in the database. For example, the following SQL statement adds a new column named “salary” to the “employees” table:
ALTER TABLE employees ADD COLUMN salary INT;

#TRUNCATE: This command is used to delete all data from an existing table without deleting the table itself. For example, the following SQL statement deletes all data from the “employees” table:
TRUNCATE TABLE employees;

In [2]:
# Ans 3
# Data Manipulation Language (DML) is a computer programming language that is used to manage data in a database. 

# INSERT: It is used to insert data into a table. 
# For example, if you want to add a new employee record to an employee table, you can use the INSERT statement to add the record.

#UPDATE: It is used to update existing data within a table. 
#For example, if you want to update an employee’s salary in an employee table, you can use the UPDATE statement

# DELETE: It is used to delete records from a database table. 
# For example, if you want to delete an employee record from an employee table

In [ ]:
# ANs 4
# Data Query Language (DQL) is a component of SQL statement that allows getting data from the database and imposing order upon it.

# example of a DQL statement using the SELECT command:
SELECT FirstName FROM Student WHERE RollNo > 15;

In [5]:
# Ans 5

# A Primary Key is a column or a set of columns that uniquely identifies each row in a table. 
# It is used to enforce data integrity by ensuring that each record in the table is unique and can be identified by a unique value.

# A Foreign Key is a column or a set of columns that refers to the Primary Key of another table. 
# It is used to establish a relationship between two tables and enforce referential integrity.

In [ ]:
# Ans 6
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
mycursor = mydb.cursor()
mycursor.execute()
mydb.close()

# cursor() method is used to create a cursor object that allows you to execute SQL statements.
# The cursor object is created by calling the cursor() method on a connection object.

# The execute() method is used to execute an SQL query. It helps us to execute the query and return records according to the query.

In [ ]:
# Ans 7

The order of execution of SQL clauses in an SQL query is as follows 1:

FROM clause
ON clause
OUTER clause
WHERE clause
GROUP BY clause
HAVING clause
SELECT clause
DISTINCT clause
ORDER BY clause
TOP clause