In [20]:
#Ans 1
tup=[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
tup.sort(key=lambda x:x[1])
print(tup)

[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

In [1]:
# Ans 2
l=[1,2,3,4,5,6,7,8,9,10]
list(map(lambda x: x**2, l))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [4]:
# Ans 3
l1=[1,2,3,4,5,6,7,8,9,10]
tuple(map(lambda x: str(x), l1))

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [15]:
# Ans 4
from functools import reduce
l2=[]
for i in range(26):
    if i>0:
        l2.append(i)

In [16]:
print(l2)
reduce(lambda x,y: x*y, l2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]

15511210043330985984000000

In [4]:
# Ans 5
l3=[2,3,6,9,27,60,90,120,55,46]
list(filter(lambda x: x%2==0 and x%3==0, l3))

[6, 60, 90, 120]

In [11]:
# Ans 6
l4=["python", "php", "aba", "radar", "level"]
pal=list(filter(lambda x: x=="".join(reversed(x)), l4 ))
print(pal)

['php', 'aba', 'radar', 'level']