In [2]:
# Ans 1

In [3]:
pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (1.5.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2022.6)
Requirement already satisfied: numpy>=1.21.0 in /opt/conda/lib/python3.10/site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas as pd

In [5]:
data =[4,8,15,16,23,42]
series=pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [6]:
# Ans 2
variable=[99,77,546," Ahad ",3.14,"  ",687, " **** ",4,5]
ser=pd.Series(variable)
print(ser)

0        99
1        77
2       546
3     Ahad
4      3.14
5
6       687
7     ****
8         4
9         5
dtype: object

In [9]:
# Ans 3
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Claire'],
        'Age': [25, 30, 27],
        'Gender': ['Female', 'Male', 'Female']}

df = pd.DataFrame(data)

print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [10]:
# Ans 4

# A Series is a one-dimensional array holding data of any type. 
# It is a type of list in Pandas that can have labels as keys.

#  DataFrame is a collection of series that share the same index. 
# It is a 2-dimensional data structure which contains multiple lists of heterogeneous type of data.

import pandas as pd

# Creating a series
s = pd.Series([1, 2, 3, 4, 5])

# Creating a dataframe from the series
df = pd.DataFrame(s)

print("Series:")
print(s)

print("\nDataframe:")
print(df)

Series:
0    1
1    2
2    3
3    4
4    5
dtype: int64

Dataframe:
   0
0  1
1  2
2  3
3  4
4  5

In [11]:
# Ans 5

# read_csv(): This function is used to read a comma-separated values (csv) file into a Pandas DataFrame.
# head(): This function returns the first n rows of a dataset.
# describe(): This function returns a statistical summary of the dataset.
# memory_usage(): This function returns the memory usage of each column in bytes.

# Eg:
# we can read a comma sperated value file as  dataf=pd.read_csv("services.csv")

In [12]:
# Ans 6

# Series and DataFrame are both value-mutable and size-mutable.
# Panel is size-mutable but not value-mutable